{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 mb-4">{{ ville.nom }}</h1>

    <div class="container-fluid mt-5 mb-5">
        <div class="col-md-8 mx-auto ">
            <table class="table  table-hover"style="width: 70%; margin: 0 auto; text-align: center">
                <tbody>

                    <tr>
                        <th>Nom</th>
                        <td>{{ ville.nom }}</td>
                    </tr>
                    <tr>
                        <th>Code Postal</th>
                        <td>{{ ville.codePostal }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="btns mx-auto" style="display: flex; justify-content: center; ">
        <form action="{{ path('app_ville_edit', {'id': ville.id}) }}" method="get">
            <button type="submit" class="btn btn-primary" style="width: 10em; margin-right: 2em">Modifier</button>

        </form>

        <button type="submit" class="btn btn-outline-secondary" style="width: 10em;" onclick="window.location.href='{{ path('app_ville_index') }}'">Retour à la liste</button>
    </div>



{% endblock %}
